{% extends 'main/base.html'%}
{% load static %}

{% block title %}
ХАУС | Документы
{% endblock %}

{% block content %}
    <section class="docs">
        <div class="container__contacts">
            <div class="contacts__header__item">
                <div class="docs__header">
                    Документы
                </div>
            </div>
            <div class="contacts__item" style="margin-bottom: 200px;">
                {% for el in doc %}
                <div class="docs__item">
                    <div class="docs__item__left">
                        <img class="docs__item__svg" src="{% static 'img/docs__file.svg' %}" alt="">
                        <div class="docs__item__name">{{ el.title }}</div>
                    </div>
                    <div class="docs__item__right">
                        <!-- link on file -->
                        <a href="{{ el.link }}">Скачать</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}