{% if event_2.month == '01' %}
    ЯНВАРЯ,
{% elif event_2.month == '02'%}
    ФЕВРАЛЯ,
{% elif event_2.month == '03'%}
    МАРТА,
{% elif event_2.month == '04'%}
    АПРЕЛЯ,
{% elif event_2.month == '05'%}
    МАЯ,
{% elif event_2.month == '06'%}
    ИЮНЯ,
{% elif event_2.month == '07'%}
    ИЮЛЯ,
{% elif event_2.month == '08'%}
    АВГУСТА,
{% elif event_2.month == '09'%}
    СЕНТЯБРЯ,
{% elif event_2.month == '10'%}
    ОКТЯБРЯ,
{% elif event_2.month == '11'%}
    НОЯБРЯ,
{% else %}
    ДЕКАБРЯ,
{% endif %}