{% load static %}

<a class="follow__btn" href="https://www.vk.com/chausmoscow" target="_blank">
    <img class="img__follow__vk" src="{% static 'img/vk.svg' %}" alt="">
    <img class="img__follow__2" src="{% static 'img/bar__follow.svg' %}" alt="">
    <span class="text__follow__us">chausmoscow</span>
</a>
<a class="follow__btn" href="https://t.me/chausmoscow" target="_blank">
    <img class="img__follow__tg" src="{% static 'img/tg.svg' %}" alt="">
    <img class="img__follow__2" src="{% static 'img/bar__follow.svg' %}" alt="">
    <span class="text__follow__us">chausmoscow</span>
</a>
<a class="follow__btn" href="https://pikabu.ru/@chausmoscow" target="_blank">
    <img class="img__follow__inst" src="{% static 'img/discord.svg' %}" alt="">
    <img class="img__follow__2" src="{% static 'img/bar__follow.svg' %}" alt="">
    <span class="text__follow__us">chausmoscow</span>
</a>