<div class="vacancy__items">
    <div class="vacancy__item">
        <div class="vacancy__item__up">
            <div class="vacancy__item__up__left">
                <div class="vacancy__item__up__left__header">
                    Стафф
                </div>
                <div class="vacancy__item__up__left__text">
                    Контроль и помощь в проведении мероприятия
                </div>
            </div>
            <div class="vacancy__item__up__right">
                <div class="vacancy__item__up__right__price">
                    6 000₽
                </div>
                <div class="vacancy__item__up__left__text">
                    смена
                </div>
            </div>
        </div>
        <div class="vacancy__item__down__about">
            <a class="vacancy__item__down__about__btn" href="https://t.me/chausmoscow_bot" target="_blank">
                <div class="vacancy__item__down__about__btn__text">
                    Подробнее
                </div>
            </a>
        </div>
    </div>
</div>