* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 9;
}

.header__content {
    background: #1D1D1D;
    padding: 17px 25px 17px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu li+li {
    padding-left: 32px;
}

.menu a {
    font-size: 20px;
    line-height: 24px;
}

.header__link:hover {
    text-decoration: underline #FFFFFF;
}

.header__link {
    color: #FFFFFF;
}

.header__link__about:hover {
    cursor: pointer;
    text-decoration: underline #FFFFFF;
}

.header__link__about {
    color: #FFFFFF;
}

.header__link__events:hover {
    cursor: pointer;
    text-decoration: underline #FFFFFF;
}

.header__link__events {
    color: #FFFFFF;
}

.header__buyt-btn {
    color: #1D1D1D;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px 12px 32px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 100px;
}

.header__buyt-btn::-moz-focus-inner {
    border: 0
}

.header__buyt-btn:hover {
    background: #E2E2E2;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.hello {
    background-image: url(../img/hello-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 520px;
}

.hello__item {
    text-align: center;
    padding-top: 86px;
    max-width: 900px;
    margin: 0 auto;
}

.hello__event {
    font-size: 16px;
    line-height: 19px;
}

.hello__title {
    font-weight: 800;
    font-size: 96px;
    line-height: 115px;
    margin-top: 40px;
}

.hello__text {
    font-size: 24px;
    line-height: 28.8px;
    padding-top: 20px;
}

.hello_menu li {
    display: inline-block;
}

.hello_menu li+li {
    padding-top: 80px;
    margin-left: 40px;
}

.hello_buyt-btn {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 32px;
    gap: 10px;

    outline: none;
    position: relative;
    border: 1px solid #D16573;
    border-top: 1px solid #EE8090;
    border-bottom: 1px solid #B84D5A;
    background-color: #CB0B0B;
    border-radius: 12px;
}

.hello_buyt-btn::-moz-focus-inner {
    border: 0
}

.hello_buyt-btn:hover {
    cursor: pointer;
    color: #FFFFFF;
    border-top: 1px solid #E26272;
    background: #DE3737;
}

.hello_buyt-btn:active {
    color: #FFFFFF;
    border: 1px solid #C75866;
    border-top: 1px solid #A14753;
    border-bottom: 1px solid #DA6070;
    background: #AD0E0E;
    box-shadow: inset 0 1px 2px #C13345;
}

.buyt-btn {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 32px;
    gap: 10px;

    outline: none;
    position: relative;
    border: 1px solid #D16573;
    border-top: 1px solid #EE8090;
    border-bottom: 1px solid #B84D5A;
    background-color: #CB0B0B;
    border-radius: 12px;
}

.buyt-btn::-moz-focus-inner {
    border: 0
}

.buyt-btn:hover {
    color: #FFFFFF;
    border-top: 1px solid #E26272;
    background: #DE3737;
}

.buyt-btn:active {
    color: #FFFFFF;
    border: 1px solid #C75866;
    border-top: 1px solid #A14753;
    border-bottom: 1px solid #DA6070;
    background: #AD0E0E;
    box-shadow: inset 0 1px 2px #C13345;
}

/*  */

.hello__photo-btn {
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1D;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 32px;
    gap: 10px;

    background: #FFFFFF;
    border-radius: 12px;
}

.hello__photo-btn::-moz-focus-inner {
    border: 0
}

.hello__photo-btn:hover {
    background: #E2E2E2;
}

.lending {
    background: #131313;
    background-image: url(../img/bgpic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 6358px;
}

.lending__item {
    text-align: center;
    padding-top: 40px;
    max-width: 1160px;
    margin: 0 auto;
}

.description__textbar {

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    height: 70px;

    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;

    background: #FFFFFF;
}

.description__textbar__lupa {
    padding-top: 19px;
    padding-left: 30px;
}

.description__textbar__stick {
    padding-top: 12px;
    padding-left: 30px;
}

.description__textbar__text {
    padding: 22px 40px;

    color: #373737;
    font-size: 24px;
    line-height: 26.4px;
}

.description__poster {
    position: center;
    width: 972px;
    display: flex;
    justify-content: center;
    padding-left: 190px;
}

.description__block {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/description_poster.png);
    min-width: 1052px;
    min-height: 418px;
    color: #373737;
    text-align: left;
}

.description__header {
    display: flex;
    padding: 20px 130px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 800;
}

.description__header__lowercase {
    display: flex;
    padding: 6px 10px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

.description__text {
    padding: 0px 130px;
    max-width: 800px;
    font-size: 24px;
    line-height: 31px;
}

.description__button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    margin: 30px 130px;
    padding: 2px 12px;

    color: #1D1D1D;
    font-size: 24px;
    line-height: 30px;

    border: 2px solid #1D1D1D;
    border-radius: 16px;
    max-width: 300px;
}

.description__button__down_arrow {
    padding-top: 6px;
}

.description__button__text {
    padding-left: 16px;
}

.banner {
    padding-top: 40px;
}

.advantages__header {
    font-weight: 800;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    padding-top: 40px;
}

.advantages__blocks {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__blocks__firstlevel-firstimg {
    margin-bottom: 17px;
    margin-right: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/advantages__block2.png);
    min-width: 570px;
    min-height: 275px;
}

.advantages__blocks__firstlevel-secondimg {
    margin-top: 15px;
    margin-right: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/advantages__block3.png);
    min-width: 570px;
    min-height: 275px;
}

.advantages__block__secondlevel {
    margin-top: 4px;
    margin-left: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/advantages__block1.png);
    min-width: 570px;
    min-height: 570px;
}

.advantages__block__thirdlevel {
    margin-top: 16px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/advantages__block4.png);
    min-width: 1160px;
    min-height: 380px;
}

.advantages__blocks__header {
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 37.5px;
    color: #ffffff;
}

.advantages__blocks__header__firstlevel {
    padding-top: 100px;
}

.advantages__blocks__text {
    position: relative;
    text-align: center;
    font-size: 22px;
    line-height: 27.5px;
    color: #E6E6E6;
}

.advantages__blocks__icons {
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin: 100px 40px 0px;
}

.advantages__icon__1 {
    position: relative;
    margin-left: 26px;
    margin-top: 14px;
}

.advantages__icon__2 {
    position: relative;
    right: 13px;
    margin-top: 14px;
}

.advantages__icon__3 {
    position: relative;
    right: 26px;
    margin-top: 14px;
}

.advantages__icon__4 {
    position: relative;
    right: 39px;
    margin-top: 14px;
}

.advantages__icon__1:hover {
    margin-right: 39px;
}

.advantages__blocks__icons__container p {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    color: #FFFFFF;
    background: url(../img/background__advantages__text.svg);
    height: 54px;
    width: 200px;
}

.advantages__icon__text__1 {
    position: relative;
    margin-top: -54px;
    margin-left: -54px;
    left: 19px;
}

.advantages__icon__text__2 {
    position: relative;
    margin: -54px -26px;
    right: 13px;
}

.advantages__icon__text__3 {
    position: relative;
    margin: -54px -26px;
    right: 26px;
}

.advantages__icon__text__4 {
    position: relative;
    margin: -54px -26px;
    right: 39px;
}

.advantages__blocks__text__firstlevel {
    padding-top: 10px;
}

.advantages__blocks__header__secondlevel {
    padding-top: 205px;
}

.advantages__blocks__text__secondlevel {
    padding: 12px 88px;
}

.advantages__blocks__header__thirdlevel {
    padding-top: 150px;
}

.advantages__blocks__text__thirdlevel {
    padding-top: 12px;
}

.events__header {
    font-weight: 800;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    padding-top: 40px;
}

.events__blocks {
    max-width: 1160px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events__data {
    max-width: 275px;
    min-height: 272px;
    font-size: 26px;
    line-height: 26px;
    margin-top: -40px;
}

.event__data__block {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    border-radius: 16px;
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    /* margin-top: 30px; */
    padding-left: 30px;
    gap: 30px;
    max-height: 68px;
    width: 275px;
}

.event__data__block:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: 16px;
    background: linear-gradient(180deg, #CB0B0B 0%, rgba(203, 11, 11, 0.5) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.ui-tabs-tab {
    margin-top: 40px;
}

.ui-state-active {
    background: linear-gradient(180deg, #CB0B0B 0%, rgba(203, 11, 11, 0.5) 100%),
        linear-gradient(0deg, rgba(203, 11, 11, 0.2), rgba(203, 11, 11, 0.2));
    backdrop-filter: blur(16px);
    border-radius: 16px;
}

.event__data__people {
    margin-top: 6px;
}

.event__data__date {
    padding: 20px 19px 18px 0px;
    color: #FFFFFF;
}

.events__description {
    background: #3737371A;
    backdrop-filter: blur(32px);

    background-image: url(../img/event_description2.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;

    width: 845px;
    height: 440px;
    margin-left: 40px;
}

.events__description:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: 22px;
    background: linear-gradient(180deg, #CB0B0B 0%, rgba(203, 11, 11, 0.5) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.events__sticky__bottom {
    position: absolute;
    top: 210px;
}

.event__description__header {
    padding: 10px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.event__description__info__btn {
    position: absolute;
    top: 22px;
    left: 542px;
    cursor: pointer;
}

.event__description__name {
    font-weight: 800;
    font-size: 46px;
    line-height: 46px;
    padding-top: 18px;
}

.event__description__data {
    padding: 22px 30px 0px;
    font-size: 36px;
    line-height: 36px;
    display: flex;
}

.event__description__data-date {
    font-weight: 500;
}

.event__description__data-time {
    margin-left: 10px;
    font-weight: 600;
}

.event__place {
    font-weight: 400;
    padding: 20px 30px 0px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

    max-width: 440px;

    text-decoration-line: underline;
}

.event__btn__block {
    margin: 30px 2px;
    max-width: 520px;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
}

.event__btn {
    background: linear-gradient(0deg, #1D1D1D, #1D1D1D),
        linear-gradient(180deg, #6F6F6F 0%, rgba(44, 44, 44, 0.5) 100%);
    border-radius: 16px;
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 22px;
    max-height: 64px;
    min-width: 211px;
    max-width: 242px;

    padding: 13px 22px;
    text-align: left;
}

.event__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: 16px;
    background: linear-gradient(180deg, #6F6F6F 0%, rgba(44, 44, 44, 0.5) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
}


.event__btn1 {
    margin-left: 24px;
}

.event__btn2 {
    margin-left: 24px;
}

.event__btn3 {
    margin-left: 24px;
}

.event__btn__long {
    width: 245px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0px -10px;
    text-align: left;

}
.event__btn-first{
  margin-left: 10px;
}

.event__btn__second {
    max-width: 120px;
}

.event__btn__third {
    margin-left: 20px;
}

.event__btn-f {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.event__btn-s {

    font-size: 14px;
    line-height: 14px;
    color: #8F8F8F;
}

.event__buy-block {
    margin: 40px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event__price {
    font-weight: 600;
    font-size: 32px;
    line-height: 35.2px;
    padding-left: 20px;
}

.event__price__discont {
    margin-left: 24px;
}

.event__price__discont-first {
    font-size: 14px;
    line-height: 17px;
    color: #C1C1C1;

    text-decoration: line-through;
    text-decoration-color: #CB0B0B;
}

.event__price__discont-second {
    font-size: 16px;
    line-height: 19px;
    color: #C1C1C1;
}

.events__description__info {
    background: #3737371A;
    backdrop-filter: blur(32px);

    background-image: url(../img/event_description3.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: left;

    width: 845px;
    height: 440px;
    margin-left: 40px;
}

.events__description__info:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: 22px;
    background: linear-gradient(180deg, #CB0B0B 0%, rgba(203, 11, 11, 0.5) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.event__description__header__info {
    padding: 19px 19px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.event__description__header__info__header {
    margin: 0px 0px 20px 300px;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
}

.events__description__info__smile {
    height: 24px;
    width: 24px;
}

.events__description__info__about {
    display: flex;
    margin: 0px 0px 6px 357px;
}

.events__description__info__text{
    padding: 2px 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.event__description__info {
    margin-left: 34px;
    cursor: pointer;
}

.event__description__info__back__1 {
    margin-top: -23px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.event__description__info__back__2 {
    margin-top: -23px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.event__description__info__back__3 {
    margin-top: -23px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.event__buy__block__info {
    position: absolute;
    margin-left: 320px;
    top: 305px;
}

.chat {
    margin-top: 40px;
    background-image: url(../img/chat_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1164px;
    background-color: #131313;
    /* opacity: 0.4; */
}

.chat__inner {
    max-width: 972px;
    margin: 0 auto;
    padding-top: 60px;
}

.chat__first__msg {
    display: flex;
    justify-content: right;
    min-width: 714px;
    max-height: 100px;
}

.chat__right__text {
    
    color: #3D3D3D;
    font-size: 24px;
    line-height: 28.8px;

    padding: 20px 0 0 30px;

    width: 594px;
    height: 100px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
    border-radius: 22px 22px 0px 22px;
}

.chat__right__text__emoji {
    margin-top: 4px;
}

.chat__emoji {
    width: 30px;
    height: 30px;
}

.chat__avatar__people {
    margin-left: 20px;
}

.chat__second__msg {
    margin-left: 120px;
    display: flex;
    justify-content: left;
    min-width: 900px;
}

.chat__left__text {
    display: flex;
    justify-content: left;
    width: 594px;
    height: 156px;
    font-size: 24px;
    line-height: 29px;

    background: #CB0B0B;

    /* block shadow */
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;

    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    margin-top: 20px;
}

.chat__left__text p {
    margin-top: 20px;
    font-weight: 600;
}

.chat__left__text span {
    font-weight: 400;
}

.chat__left__text a {
    text-decoration: underline;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.chat__avatar__house {
    margin-top: 414px;
    margin-right: 20px;
    max-height: 100px;
}

.chat__third__msg {
    display: flex;
    margin-top: 20px;
    justify-content: left;
}

.chat__left__accordion {
    background: #CB0B0B;
    width: 594px;
    height: 514px;
    color: #1D1D1D;

    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    padding: 4px 30px;

    /* block shadow */
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px 22px 0px 22px;
}

.msg__block {
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #3D3D3D;
}

.msg__block h4 {
    font-style: italic;
    font-weight: 100;
    padding: 17px 20px;
    margin: 0;
}

.msg__text__main {
    margin-top: 10px;
}

.msg__text__main p {
    margin: 0;
    padding: 0 20px;
}

.msg__block {
    width: 534px;
    height: 464px;
    background: #FFFFFF;
    border-radius: 22px;
}

.msg__btn__back {
    display: flex;
    transform: rotate(90deg);
    height: 40px;
    width: 40px;
    margin: 12px 20px;
}

.msg__block__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.msg__btn__style {
    padding: 12px 20px;
    color: #3D3D3D;
    background: #FFFFFF;
    border-radius: 22px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.msg__btn__style__arrow {
    transform: rotate(-90deg);
    margin-top: 0;
    padding: 0px -8px;
    height: 40px;
    width: 40px;
}

.msg__btn__style p {
    margin: 0;
    padding: 5px;
}

.msg__text__main a {
    font-style: italic;
    font-weight: 100;
    text-decoration: underline;
}

.chat__fourth__msg {
    display: flex;
    justify-content: right;
    min-width: 714px;
    max-height: 100px;
    margin: 20px 120px;
}

.chat__fifth__msg {
    display: flex;
    justify-content: right;
    min-width: 714px;
    max-height: 100px;
    margin-top: 20px;
}

.photo__header {
    font-weight: 800;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
}

.chat__left__accordion li {
    cursor: pointer;
}

.photo h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    margin: 0 auto;
}

.photo p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 125%;
    margin: 10px auto;

    color: #E6E6E6;
}

.photo__level {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.photo__level__first__1 {
    background-image: url(../img/photo__block__1.png);
    width: 570px;
    height: 570px;
    margin-right: 10px;

    padding-top: 240px;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo__level__first__2 {
    margin-left: 10px;
    display: flex;
}

.photo__level__first__2__1 {
    margin-right: 10px;
}

.photo__level__first__2__2 {
    margin-left: 10px;
}

.photo__2__1 {
    width: 275px;
    height: 275px;
}

.photo__2__2 {
    width: 275px;
    height: 275px;
    margin-top: 20px;
}

.photo__2__3 {
    width: 275px;
    height: 275px;
}

.photo__2__4 {
    background-image: url(../img/photo__block__5.png);
    width: 275px;
    height: 275px;
    padding-top: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.photo__level__second__1 {
    margin-right: 10px;
    display: flex;
}

.photo__level__second__1__1 {
    margin-right: 10px;
}

.photo__level__second__1__2 {
    margin-left: 10px;
}

.photo__level__second__2 {
    background-image: url(../img/photo__block__10.png);
    width: 570px;
    height: 570px;
    margin-left: 10px;

    padding-top: 240px;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo__2__9 {
    background-image: url(../img/photo__block__9.png);
    width: 275px;
    height: 275px;
    padding-top: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.buy__our__tickets__header {
    padding-top: 40px;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
}

.slider__buy__justify {
    display: flex;
    justify-content: center;
    width: 1160px;
}

.buy__our__tickets__slider {
    width: 1020px;
    margin-top: 33px;
}

.buy__our__tickets__block__first {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 355px;
    background-image: url(../img/ticket1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.buy__our__tickets__block__second {
    width: 1020px;
    height: 355px;
    background-image: url(../img/ticket2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.buy__our__tickets__block__third {
    width: 1020px;
    height: 355px;
    background-image: url(../img/ticket3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.buy__our__tickets__block__left {
    margin-left: 30px;
    text-align: left;
}

.buy__our__tickets__block__right {
    text-align: right;
    margin-right: 60px;
}

.buy__our__tickets__block__header {
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;

    margin-top: 30px;
}

.buy__our__tickets__block__date {
    font-size: 28px;
    line-height: 34px;

    margin-top: 20px;
}

.buy__our__tickets__block__place {
    margin-top: 20px;

    font-size: 19px;
    font-style: italic;
    font-weight: 300;
    line-height: 23px;


    color: #FFFFFF;
    text-decoration: underline;
}

.buy__our__tickets__block__age {
    margin-top: 20px;

    font-size: 28px;
    font-style: italic;
    font-weight: 300;
    line-height: 34px;
}

.buy__our__tickets__block__buy__btn__block {
    width: 440px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy__our__tickets__block__buy__btn {
    border-radius: 90px;
    padding: 9px 25px;
    text-align: center;

    color: #CB0B0B;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    outline: none;
    position: relative;
    background-color: #FFFFFF;
}

.buy__our__tickets__block__buy__btn::-moz-focus-inner {
    border: 0
}

.buy__our__tickets__block__buy__btn:hover {
    background: #E2E2E2;
}

.buy__our__tickets__block__next__event__date {
    min-height: 355px;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 98px;
    font-size: 32px;
    line-height: 35px;
}

.buy__our__tickets__block__next__event__date h1 {
    margin: 4px;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;
}

.buy__our__tickets__block__next__event__date h2 {
    margin: 4px;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
}

.buy__our__tickets__block__next__event__date h3 {
    margin: 4px;
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;
}

.buy__our__tickets__block__next__event__date h4 {
    margin: 4px;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
}

.slick__btn {
    position: absolute;
    top: 30%;
}

.slick__prev {
    text-align: center;
    height: 160px;
    width: 50px;
    border-radius: 100px;
    color: #131313;
    border: 0;
    background-color: #FFFFFF;
    left: -70px;
    cursor: pointer;
}

.slick__prev.slick-disabled {
    height: 160px;
    width: 50px;
    border-radius: 100px;
    color: #131313;
    background-color: #858585;
    left: -70px;
}

.slick__next {
    text-align: center;
    justify-content: center;
    height: 160px;
    width: 50px;
    border-radius: 100px;
    border: 0;
    color: #131313;
    background-color: #FFFFFF;
    right: -70px;
    cursor: pointer;
}

.slick__next.slick-disabled {
    height: 160px;
    width: 50px;
    border-radius: 100px;
    color: #131313;
    border-color: #858585;
    background-color: #858585;
    right: -70px;
}

.arrow__left {
    position: relative;
}

.arrow__right {
    position: relative;
    transform: rotate(180deg);
}

.slick-dots {
    top: 365px;
}

.slick-dots li {
    width: 40px;
    height: 20px;
}

.slick-dots li button {
    background: #ffffff;
    border-radius: 100px;
    width: 16px;
    height: 16px;
}

.slick-dots li button::before {
    font-size: 12px;
    line-height: 156%;
    width: 16px;
    height: 16px;
}

.follow__us__header {
    margin-top: 45px;
    font-size: 72px;
    font-weight: 800;
    line-height: 90px;
    text-align: center;
}

.follow__btn__block {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.follow__btn {
    display: flex;
    justify-content: left;

    height: 64px;
    width: 354px;
    background: #FFFFFF;
    border-radius: 20px;
}

.follow__btn::-moz-focus-inner {
    border: 0
}

.follow__btn:hover {
    background: #E2E2E2;
}

.img__follow__inst {
    margin: auto 16px;
    width: 40px;
    height: 40px;
}

.img__follow__vk {
    margin: auto 16px;
    width: 40px;
    height: 23px;
}

.img__follow__tg {
    margin: auto 16px;
    width: 40px;
    height: 36px;
}

.img__follow__2 {
    margin: auto 0px;
    width: 4px;
    height: 48px;
}

.text__follow__us {
    margin: auto 13px;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #1D1D1D;
}

.notebook {
    margin-top: 40px;
}

.footer {
    height: 370px;
    background: #373737;
}

.footer__items {
    margin: 0px 180px;
    display: flex;
    justify-content: center;
}

.footer__item {
    text-align: left;
    width: 370px;
}

.footer__items__header {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
}

.footer__items__text {
    width: 275px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 23px;
}

.footer__item a {
    color: #767676;

}

.footer__items__text:hover {
    text-decoration: underline;
}

/*  */
/*  */
/* #rules.php */
/*  */
/*  */
.rules {
    background-color: #131313;
    display: flex;
    justify-content: center;
}

.container__rules {
    max-width: 1920px;
    margin: 0 auto;
}


.rules__item__header {
    text-align: center;
    max-width: 1160px;
    margin: 0 auto;
}

.rules__header {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
}

.rules__header__under {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    margin-top: 20px;
    text-align: center;
}

.rules__header__under a {
    text-decoration: underline;
    color: #FFFFFF;
}

.rules__header__under a:hover {
    text-decoration: none;
}

.rules__item__main {
    min-width: 1920px;
    margin: 0 auto;
}

.rules__left {
    display: flex;
}

.rules__img__left {
    width: 481px;
    height: 481px;
}

.rules__text__left {
    margin: 43px 55px;
    max-width: 865px;
    text-align: left;
}

.rules__text__left__header {
    font-weight: 800;
    font-size: 64px;
    line-height: 125%;
}

.rules__text__left__main {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
}

.rules__text__left__main p {
    margin-top: 20px
}


/*  */

.rules__right {
    display: flex;
    justify-content: right;
}

.rules__img__right {
    width: 481px;
    height: 481px;
}

.rules__text__right {
    margin: 43px 55px;
    max-width: 865px;
    text-align: right;
}

.rules__text__right__header {
    font-weight: 800;
    font-size: 64px;
    line-height: 125%;
}

.rules__text__right__main {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
}

.rules__text__right__main p {
    margin-top: 20px
}

/*  */
/*  */
/* #contacts.php */
/*  */
/*  */

.contacts {
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: left;
}

.container__contacts {
    min-width: 1920px;
    padding: 0 15px;
}

.contacts__header__item {
    margin-top: 40px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.contacts__item {
    max-width: 1160px;
    margin-left: 140px;
}

.contacts__header {
    margin-left: 140px;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
}

.contacts__header__2 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
}

.follow__btn__block__rules {
    margin-top: 20px;
    margin-right: 58px;
    display: flex;
    justify-content: space-between;
}

.contacts__links {
    margin-top: 20px;
}

.contacts__link {
    display: flex;
    margin-top: 30px;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;

    color: #FFFFFF;
}

.contacts__link a {
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    color: #FFFFFF;
}

.contacts__link a:hover {
    text-decoration: underline;
}

.contacts__link__pht {
    margin-right: 20px;
}

.contacts__ib__info {
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
}

.contacts__ib__info p {
    margin: 20px 0;
}

.contacts__ib__info a {
    text-decoration-line: underline;
    color: #FFFFFF;
}


.contacts__qa {
    margin-top: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 135%;
    margin-bottom: 180px;
}

.contacts__qa span {
    text-decoration: underline;
}

/*  */
/*  */
/* #buy.php */
/*  */
/*  */

.buy__page {
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: left;
}

.container__buy {
    min-width: 1920px;
    padding: 0 15px;
}

.buy__header__item {
    margin-top: 40px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.buy__item {
    max-width: 1160px;
    margin-left: 140px;
}

.buy__header {
    margin-left: 140px;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
}

.buy__header__2 {
    margin: 20px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 125%;
}

.buy__imput__block {
    margin-top: 40px;
}

.buy__imput__block__text {
    font-size: 20px;
    line-height: 125%;
    width: 110px;
}

.buy__imput__block__name {
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: #3D3D3D;
    padding-left: 20px;
}

/*  */

.buy__imput__block__input__small {
    margin-left: 12px;
    width: 256px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: 0;
}

.buy__imput__block__input__small:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 4px;
    border-radius: 12px;
    background: linear-gradient(180deg, #454545 0%, #131313 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.buy__imput__block__input__large {
    margin-left: 12px;
    width: 800px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: 0;
}

.buy__imput__block__input__large:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 4px;
    border-radius: 12px;
    background: linear-gradient(180deg, #454545 0%, #131313 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/*  */
.buy__imput__block__mail {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.buy__imput__block__phone {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.buy__imput__block__promo {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.buy__submit__block {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.buy__submit__block__price {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    width: 110px;
}

.buy__submit__block__text {
    width: 855px;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
}

.buy__submit__block__text a {
    color: #ffffff;
    text-decoration: underline;
}

.buy__alert__banner {
    width: 628px;
    height: 107px;
    margin-top: 40px;
}

.buy__ticket__main {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 355px;
    background-image: url(../img/ticket_clear.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.buy__alert__text {
    margin: 40px 0 220px;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
}

.buy__imput__block__text__2 {
    font-weight: 300;
    margin-left: 10px;
    font-size: 16px;
    line-height: 120%;
    color: #B8B8B8;
}

.buy__our__tickets__block__ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    width: 400px;
}

.buy__our__tickets__block__ticket__age {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    line-height: 120%;
}

.buy__our__tickets__block__ticket__price {
    font-size: 32px;
    line-height: 120%;
}

.buy__our__tickets__block__ticket__available {
    width: 164px;
    padding-top: 2px;
}

.buy__our__tickets__block__ticket__available__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy__our__tickets__block__ticket__available__text__int {
    font-style: italic;
    font-weight: 100;
}

progress {
    width: 164px;
    background-color: #A7A7A7;
    height: 6px;
    border: 0;
    border-radius: 100px;
}

progress::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 100px;
}

progress::-webkit-progress-value {
    background-color: #fff;
    border-radius: 100px;
}

progress::-moz-progress-bar {
    background-color: #fff;
    border-radius: 100px;
}


/*  */
/*  */
/* #buy__complete.php + half(#buy__uncomplete.php) */
/*  */
/*  */

.buy__complete__page {
    background-color: #131313;
    display: flex;
}

.buy__complete__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy__complete__header {
    margin-top: 40px;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
}

.buy__complete__header__2 {
    margin-top: 20px;
    font-size: 36px;
    line-height: 120%;
}

.payment__img {
    margin: 30px 0;
}

.buy__complete__back__btn {
    margin-bottom: 230px;
    display: flex;
    justify-content: center;
    padding: 12px 32px;
    gap: 10px;
    width: 130px;
    color: #1D1D1D;

    background: #FFFFFF;
    border-radius: 100px;
}

.buy__complete__back__btn::-moz-focus-inner {
    border: 0
}

.buy__complete__back__btn:hover {
    background: #E2E2E2;
}

/*  */
/*  */
/* #buy__uncomplete.php */
/*  */
/*  */

.buy__uncomplete__retry {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 32px;
    gap: 10px;

    outline: none;
    position: relative;
    border: 1px solid #D16573;
    border-top: 1px solid #EE8090;
    border-bottom: 1px solid #B84D5A;
    background-color: #CB0B0B;
    border-radius: 100px;
}

.buy__uncomplete__retry::-moz-focus-inner {
    border: 0
}

.buy__uncomplete__retry:hover {
    color: #FFFFFF;
    border-top: 1px solid #E26272;
    background: #DE3737;
}

.buy__uncomplete__retry:active {
    color: #FFFFFF;
    border: 1px solid #C75866;
    border-top: 1px solid #A14753;
    border-bottom: 1px solid #DA6070;
    background: #AD0E0E;
    box-shadow: inset 0 1px 2px #C13345;
}


/*  */
/*  */
/* #docs.php */
/*  */
/*  */

.docs {
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: left;
}

.docs__header {
    margin: 0 0 20px 140px;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
}

.docs__item {
    margin-top: 20px;
    background: #E6E6E6;
    border-radius: 12px;
    width: 1160px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.docs__item__svg {
    height: 40px;
    width: 32px;
    margin-left: 20px;
}

.docs__item__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;

    color: #1D1D1D;
    margin-left: 40px;
}

.docs__item__left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.docs__item__right {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 40px;
}

.docs__item__right a {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;

    color: #3D3D3D;
}

.docs__item__right a:hover {
    text-decoration-line: underline;
}

/*  */
/*  */
/* #coop.php */
/*  */
/*  */

.coop {
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: left;
}

.coop__header__2 {
    margin: 40px 0 20px;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
}

.coop__ad__header {
    margin-top: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
}

.coop__ad__text {
    font-size: 32px;
    line-height: 135%;
    color: #E6E6E6;
    margin: 20px 0;
}

.coop__ad__text span {
    text-decoration: underline;
    color: #fff;
}

/*  */
/*  */
/* #partner.php */
/*  */
/*  */

.partner {
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: left;
}

.partner__item__svg {
    width: 60px;
    height: 40px;
    margin-left: 20px;
}

.vacancy__item {
    color: #1D1D1D;
    width: 400px;
    margin: 0px 10px;
}

.vacancy__item__up {
    border-radius: 22px 22px 0 0;
    background: #E6E6E6;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.vacancy__item__up__left__header {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 5px;
}

.vacancy__item__up__left__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #3D3D3D;
}

.vacancy__item__up__left {
    max-width: 243px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.vacancy__item__up__right__price {
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
}

.vacancy__item__up__right {
    text-align: right;
}

.vacancy__item__down__about {
    background: #373737;
    border-radius: 0 0 22px 22px;
    height: 69px;
}

.vacancy__item__down__about__btn {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    margin: 14px 20px;
}

.vacancy__item__down__about__btn__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 8px 20px;
    gap: 10px;
}

.vacancy__slider {
    display: flex;
    justify-content: space-between;
    min-width: 1240px;
}

.vacancy__items {
    margin-left: 20px;
}